/* 共通部分 */

* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 0;
  background-color: #f6f6f6;
  width: 70%;
}

a {
  color: inherit;
  text-decoration: none;
}

.main {
  width: 60%;
  margin: 20px auto;
}

/* ヘッダー部分 */
.header {
  background-color: #1da1f2;
  color: #fff;
  border-radius: 5px;
  padding: 30px 30px;
  margin: 20px 0;
}

.header__title {
  font-size: 22px;
}

.auth {
  font-size: 18px;
  display: flex;
}

.auth__login {
  display: inline-block;
  margin-right: 20px
}

/* トップページ */

.tweet {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
  margin-bottom: 16px;
  padding: 16px;
}

.tweet-container {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px;
}

.tweet-container:hover {
  background: #f8f8f8;
}

.user-name {
  font-size: 16px;
  font-weight: bold;
  color: #1da1f2;
}

.tweet-content {
  font-size: 14px;
  color: #333;
  margin-top: 8px;
  padding: 20px 10px;
  line-height: 1.8;
}

.tweet-date {
  margin-top: 8px;
  font-size: 12px;
  color: #999;
}

.tweet-image {
  margin-top: 16px;
  max-width: 100%;
  border-radius: 3px;
}

.button {
  background-color: #1da1f2;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 24px;
  margin-top: 16px;
}

.button:hover {
  opacity: .8;
}

/* 編集と削除ボタン */

.edit-container {
  position: absolute;
  display: flex;
  top: 5px;
  right: 5px;
}

.edit-image {
  width: 30px;
  opacity: .2;
}

.edit-image:hover {
  width: 30px;
  opacity: .6;
}

/* 投稿・編集ページ */

.content__area {
  width: 100%;
  height: 200px;
}